@import url(variables.css);

*{margin: 0; padding: 0; 
    
    /*outline: 1px solid tomato;*/
}
*::before, *::after{box-sizing: border-box;}
body{min-height: 100dvh;}
input, button, textarea, select{font: inherit;}
p{text-wrap: pretty;}
h1, h2, h3, h4, h5, h6{text-wrap: balance;}
/* img, video, svg{height: auto; max-width: 100%;} */
@media (prefers-reduced-motion: reduce){
*, *::before, *::after{
animation-duration: 0.01ms !important;
animation-iteration-count: 1 !important;
max-width: 100%;
transition-duration: 0.01ms !important;
scroll-behavior: auto !important;
transition: none;
}
}


.bodycontainer{
    background-color: rgba(20, 20, 20, 1);

}

.headercontainer{
    width: 96vw;
    height: auto;
    top: 1.52vw;
    position: absolute;
    
    nav{
        display: flex;
        flex-direction: row;
        height: auto;
        flex-direction: row;
        justify-content: space-between;

        >div:nth-child(1){
            width: 17.70vw;
            height: 6.6vw ;
            background-color: white;
            display: flex;
            flex-direction: row;
            place-items: center;
            gap: 0.347vw;
            border-top-right-radius:3.33vw;
            border-bottom-right-radius:3.33vw;              
            
            p{
                padding-left: 2.43vw;
                font-family: "RobotoCondensed-Regular.ttf";
                font-size: 3.33vw;   
            }

            img{
                width: 3.194vw;
                height: 3.125vw;
            }
           
        }

        >div:nth-child(2){
            margin-right: 5vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 3.2vw;
            color: white;
            width: 50.83vw;
            text-decoration: none;
            border-bottom: 0.14vw solid rgba(44, 44, 44, 1);
            
            a{
                font-family: "RobotoCondensed-Bold.ttf";
                border-bottom: 2px solid transparent;
                font-size: 1.66vw;
                
            }

            a:hover{
                border-bottom: 0.14vw solid white;
            }
        }

        >div:nth-child(3){
            display: flex;
            flex-direction: row;
            width: 7.152vw;
            height: 2.77vw;
            gap: 1.944vw;
            margin-top: 3.1vw;
            >img:nth-child(1){
               width: 2.27vw ;
               height: 2.43vw;
            }

            >img:nth-child(2){
                width: 2.77vw ;
                height: 2.77vw;
             }

        }


    }
}


.maincontainer{
    

    >section:nth-child(1){


        >article:nth-child(1){

            width: 49.12vw;
            height: auto;
            position: absolute;
            top: 11.875vw;
            left: 6.94vw;
            display: flex;
            flex-direction: column;
            color: white;
            align-self: center;
            justify-content: space-between;
            
            img{
                width: 49.12vw;
                height: 27.15vw;
            }
    
            h2{
                padding-top: 1.80vw;
                width: 49.09vw;
                font-family: "RobotoCondensed-Regular.ttf";
                font-size: 3.91vw;
                padding-left: 0.2vw;
            }
    
            p{
                width: 49.09vw;
                font-family: "RobotoCondensed-Regular.ttf";
                font-size: 1.8vw;
                padding-left: 0.3vw;
                padding-top: 0.90vw;
            }
        }

        >article:nth-child(2){

            >img:nth-child(1){
                position: absolute;
                width: 34.13vw;
                height: 36vw;
                left: 58vw;
                top: 11.875vw;
            }

            >a:nth-child(2){
                
                position: absolute;
                top:46.1vw;
                left: 68.95vw;
                width: 16.45vw;
                height: 3.75vw;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: black;
                background-color: white;
                border-radius: 2.18vw;
                padding: 0.4vw 0.1vw;

                img{
                    width: 2.5vw;
                    height: 2.5vw;
                }
                p{
                    font-family: "RobotoCondensed-Bold.ttf";
                    font-size: 2.77vw;
                }

            }
        
            >img:nth-child(3){
                position: absolute;
                left:92vw ;
                top:34.65vw ;
                width: 5.69vw ;
                height:15.13vw ;
                

            }
        
        }



    }

    >section:nth-child(2){
     
        >article:nth-child(1){
            position: absolute;
            top: 56.875vw;
            left: 27.29vw;
            display: flex;
            flex-direction: column;
            color: white;
            text-align: center;
            width: 45.41vw;
            gap: 2.84vw;
            h2{
                padding-left: 0.2vw;
                font-family: "RobotoCondensed-Bold.ttf";
                font-size:4.44vw ;
            }

            p{
                font-family: "RobotoCondensed-Regular.ttf";
                font-size: 2.5vw;
            }


        }

        >article:nth-child(2){
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 77.63vw;
            left: 11.73vw;
            color: white;
            width: 76.32vw;
            height: auto;
            
            div{
                gap: 1vw;
                display: flex;
                flex-direction: row;
                height: auto;
                align-items: center;

                >div:nth-child(1){
                    width: 6.94vw;
                    height:6.94vw ;
                    background-color: white;
                    border-radius: 3.47vw;
                    margin-right: 2.22vw;
                    
                    p{
                        padding-top: 1vw;
                        width: 6.94vw;
                        height:6.94vw ;
                        color: black;
                        font-size: 4.44vw; 
                        font-family: "RobotoCondensed-Bold.ttf"; 
                        display: flex;
                        place-content: center;
                    }

                }

                >p:nth-child(2){
                    font-size: 1.9vw;
                    font-family: "RobotoCondensed-Regular.ttf";
                    padding-right: 3.6vw;
                }
                
                >img:nth-child(3){
                    width: 11.25vw;   
                    height: 11.25vw;
                }

            }
            
            >div:nth-child(1){
                padding-bottom: 5.76vw;
            }
           
            >div:nth-child(2){
                padding-bottom: 4.44vw;
            }

            >div:nth-child(3){
                padding-bottom: 2.98vw;
            }

            >div:nth-child(4){
                padding-bottom: 4.375vw;
            }




        }



    }
    
    >section:nth-child(3){

        >article:nth-child(1){
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 167.15vw;
            left: 9.86vw;
            gap: 5.76vw;
            color: white;
            width: 52.15vw;
            h2{
                font-family: "RobotoCondensed-Bold.ttf";
                font-size: 5vw;
            }
            p{
                font-family: "RobotoCondensed-Regular.ttf";
                font-size: 2.5vw;  
            }
        }

        >article:nth-child(2){
            position: absolute;
            left: 64.86vw;
            top: 169.4vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3.61vw;
            >img{
               width: 26.04vw;
               height: 21.18vw;
            }

            >a{
                background-color: white;
                color: black;
                border-radius: 2.26vw;
                font-family: "RobotoCondensed-Bold.ttf";
                font-size: 2.5vw;
                padding: 0.2vw 3.2vw;
                text-decoration: none;
                text-align: center;


            }

        }

        >article:nth-child(3){
            position: absolute;
            left: 9.72vw;
            top: 210vw;
            color: white;
            width: 49vw;
            display: flex;
            flex-direction: column;
            gap:4.79vw ;

            h2{
                font-size: 5vw;
                font-family: "RobotoCondensed-Bold.ttf";
            }
            p{
                font-family: "RobotoCondensed-Regular.ttf";
                font-size: 2.5vw
            }

        }


        >article:nth-child(4){
            position: absolute;
            top: 218vw;
            left: 65.48vw;
            width: 24.79vw;
            
            img{
                width: 24.79vw;
                height: 16.52vw ;
            }
            div:nth-child(2){
                display: flex;
                flex-direction: row;
                align-items: center;
                p{
                    color: white;
                    font-size: 6.66vw ;
                    font-family: "RobotoCondensed-Regular.ttf";
                }
                img{
                    width: 5.69vw;
                    height: 5.55vw ;
                }

            }

        }

        



    }



}

.footercontainer{
    position: absolute;
    top: 267.15vw;
    height: 4.44vw ;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 55vw;

    p:nth-child(1){
        font-family: "RobotoCondensed-Regular.ttf";
        font-size: 1.66vw;
    }
    p:nth-child(2){
        font-size: 1.66vw;
        font-family: "RobotoCondensed-Regular.ttf";
        color: rgba(112, 112, 112, 1);
    }



}