


@font-face {
    font-family: "RobotoCondensed-Regular.ttf";
    src: url(../storage/fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: "RobotoCondensed-Bold.ttf";
    src: url(../storage/fonts/RobotoCondensed-Bold.ttf);
}

